
/* ======================================================== 
            320 - 1023
======================================================== */
@media (min-width: 320px) and (max-width: 1023px){


}



/* ======================================================== 
            320 - 767
======================================================== */

@media (min-width: 320px) and (max-width: 767px){



}

/* ======================================================== 
            768 - 1023
======================================================== */

@media (min-width: 768px) and (max-width: 1023px){

}


@media screen and (min-width: 1024px){

}