
fieldset,
.follow {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.wrap {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  width: 640px;
}
.follow {
  margin: 10px 0 5px;
  clear: both;
}
.btn {
  background-color: #007197;
  background-image: -moz-linear-gradient(center bottom, #005d7c 0%, #0088b5 100%);
  background-image: -o-linear-gradient(center bottom, #005d7c 0%, #0088b5 100%);
  background-image: -webkit-linear-gradient(left bottom, left top, color-stop(0, #005d7c), color-stop(1, #0088b5));
  background-image: -ms-linear-gradient(top, #005d7c 0%, #0088b5 100%);
  background-image: linear-gradient(top, #005d7c 0%, #0088b5 100%);
  border: 1px solid #1D4253;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
  color: #FFFFFF;
  display: block;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #004e68;
}
.btn:hover {
  background-color: #0081ab;
  background-image: -moz-linear-gradient(center bottom, #00749a 0%, #00a5c6 100%);
  background-image: -o-linear-gradient(center bottom, #00749a 0%, #00a5c6 100%);
  background-image: -webkit-linear-gradient(left bottom, left top, color-stop(0, #00749a), color-stop(1, #00a5c6));
  background-image: -ms-linear-gradient(top, #00749a 0%, #00a5c6 100%);
  background-image: linear-gradient(top, #00749a 0%, #00a5c6 100%);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.btn:active {
  background-color: #006486;
  background-image: -moz-linear-gradient(center bottom, #0085a6 0%, #00537a 100%);
  background-image: -o-linear-gradient(center bottom, #0085a6 0%, #00537a 100%);
  background-image: -webkit-linear-gradient(left bottom, left top, color-stop(0, #0085a6), color-stop(1, #00537a));
  background-image: -ms-linear-gradient(top, #0085a6 0%, #00537a 100%);
  background-image: linear-gradient(top, #0085a6 0%, #00537a 100%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.btn span {
  border-radius: 5px;
  border-top: 1px solid #00B8D3;
  display: block;
  font-weight: bold;
  padding: 2% 0;
}
.btn span:active {
  border-top-color: transparent;
}
/*
*
* Author: Rodrigo Ludgero http://rodrigoludgero.com/
*
* Description: A jQuery checkboxes and radio buttons plugin
*
* License: MIT licensed
*
* Project: jQuery rlChecked Plugin https://github.com/Rodrigo-Ludgero
*
*/
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: not-allowed;
}
input[type="checkbox"][disabled] + label,
input[type="radio"][disabled] + label {
  cursor: not-allowed;
}
.img-sprite .rlCheckboxes,
.img-sprite .rlRadios {
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
  height: 64px;   
}
.img-sprite .rlCheckboxes span, 
.img-sprite .rlRadios span {
    background: url("../images/checked.png") no-repeat scroll transparent;
    display: block;
    height: 17px;
    position: absolute;
    bottom: 6px;
    right: 3px;
    width: 18px;
}
.img-sprite .rlCheckboxes input[type="checkbox"],
.img-sprite .rlRadios input[type="checkbox"],
.img-sprite .rlCheckboxes input[type="radio"],
.img-sprite .rlRadios input[type="radio"] {
/*  border: 0 none;
  clear: left;
  float: left;
  height: 24px;
  filter: alpha(opacity=0);
  opacity: 0;
  position: relative;
  width: 24px;*/

    border: 0 none;
    clear: left;
    /* float: left; */
    height: 24px;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
}
.img-sprite .rlCheckboxes input[type="checkbox"] + label,
.img-sprite .rlRadios input[type="checkbox"] + label,
.img-sprite .rlCheckboxes input[type="radio"] + label,
.img-sprite .rlRadios input[type="radio"] + label {
  clear: right;
  color: #000;
  float: left;
  font-size: .75em;
  line-height: 2;
  margin: 0 5px;
}
.img-sprite .rlCheckboxes input[type="checkbox"]:focus,
.img-sprite .rlRadios input[type="checkbox"]:focus,
.img-sprite .rlCheckboxes input[type="radio"]:focus,
.img-sprite .rlRadios input[type="radio"]:focus,
.img-sprite .rlCheckboxes input[type="checkbox"]:active,
.img-sprite .rlRadios input[type="checkbox"]:active,
.img-sprite .rlCheckboxes input[type="radio"]:active,
.img-sprite .rlRadios input[type="radio"]:active {
  border: 0 none;
  outline: 0 none;
}
.img-sprite .rlCheckboxes span {
  background-position: 0 0;
}
.img-sprite .rlCheckboxes span.checked {
  background-position: -19px 0;
}
.img-sprite .rlCheckboxes span.checked.focus,
.img-sprite .rlCheckboxes span.checked.hover {
  background-position: -19px 0;
}
.img-sprite .rlCheckboxes span.checked.disabled {
  background-position: -48px -48px;
}
/*.img-sprite .rlCheckboxes span.focus,*/
.img-sprite .rlCheckboxes span.hover {
  background-position: -19px 0;
}
.img-sprite .rlCheckboxes span.disabled {
  background-position: -72px -72px;
}
.img-sprite .rlRadios span {
  background-position: 0 -144px;
}
.img-sprite .rlRadios span.radio {
  background-position: -24px -168px;
}
.img-sprite .rlRadios span.radio.focus,
.img-sprite .rlRadios span.radio.hover {
  background-position: -96px -240px;
}
.img-sprite .rlRadios span.hover {
  background-position: -120px -264px;
}
.img-sprite .rlRadios span.disabled {
  background-position: -72px -216px;
}
.img-sprite .rlRadios span.disabled.disabled-checked {
  background-position: -48px -192px;
}

/* Mobile (Portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  fieldset {
    width: 100%;
  }
}
