
.img_demo{
	margin-top: 80px;
	text-align: center;
	margin-bottom: 30px;
}
.img_demo img{
	width: 100%;
}
.copyrighthead p{
	line-height: 10px;
}
.copyrighthead{
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #000000;
	top: 0px;
	text-align: center;
	color: #C7C7C7;
	font-size: 12px;
}
.copyrighthead ul li{
	display: inline-block;
	font-size: 14px;
	margin: 0 25px;
}
.copyrighthead ul li a{
	color: #ffffff;
	text-decoration: none;
}
.copyrighthead ul li a:hover{
	color: orange;
}
.copyrightbot{
	position: fixed;
	height: 25px;
	width: 100%;
	background-color: #000000;
	bottom: 0px;
	text-align: center;
	color: #C7C7C7;
	font-size: 11px;
}
.copyrightbot p{
	line-height: 6px;
}
.active{
	border-bottom: solid 1px #fff;
}