/*meiryo*/
@font-face {
  font-family: "meiryo";
  src: url("../fonts/meiryo.eot");
  src: url("../fonts/meiryo.eot#iefix") format("embedded-opentype"),
  url("../fonts/meiryo.woff") format("woff"),
  url("../fonts/meiryo.ttf") format("truetype"),
  url("../fonts/meiryo.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*meiryo_bold*/
@font-face {
  font-family: "meiryo_bold";
  src: url("../fonts/meiryo-bold.eot");
  src: url("../fonts/meiryo-bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/meiryo-bold.woff") format("woff"),
  url("../fonts/meiryo-bold.ttf") format("truetype"),
  url("../fonts/meiryo-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*MeiryoUI-regular*/
@font-face {
    font-family: "meiryoui";
    src: url("../fonts/meiryoui.eot");
    src: url("../fonts/meiryoui.eot#iefix") format("embedded-opentype"),
    url("../fonts/meiryoui.woff") format("woff"),
    url("../fonts/MeiryoUI.ttf") format("truetype"),
    url("../fonts/meiryoui.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*MeiryoUI-bold*/
@font-face {
    font-family: "meiryoui-bold";
    src: url("../fonts/meiryoui-bold.eot");
    src: url("../fonts/meiryoui-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/meiryoui-bold.woff") format("woff"),
    url("../fonts/MeiryoUI-Bold.ttf") format("truetype"),
    url("../fonts/meiryoui-bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";
/* CSS Document */

/* ======================================================== 
            set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{ list-style: none; }

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "meiryo";
    font-size: 18px;
    background-color: #f5f8fa;
}

table, td, th{
    border:1px solid black;
}

.clearAll{ 
    clear: both; 
    font-size: 0px; 
    width: 0px; 
    height: 0px; 
}

.center{ 
    text-align: center; 
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

header, footer, nav {
    display: block;
    width: 100%;
    float: left;
}

.container {
    margin: 0 auto; 
    width: 1046px;
}

.w100-fl {
    width: 100%;
    float: left;
}

.w50-fl {
    width: 50%;
    float: left;
}

/* ======================================================== 
                        content
======================================================== */
.top-header {
    height: 78px;
    background-color: #fff;
    position: relative;
}

.logo-top-left {
    float: left;
    padding: 8px 0;
}

.info-top-right {
    float: right;
    padding: 15px 0;
}

.member-info {
    float: left;
    background: url(../images/information_icon.png) no-repeat;
    background-position: 14px 7px;
    margin-right: 18px;
}

.member-info a:hover {
    background: url(../images/information_icon_hover.png) no-repeat;
    background-position: 14px 7px;
    color: #fff;
    background-color: #66757f;
    transition: background-color 0.5s ease;
}

.member-request {
    float: right;
    background: url(../images/request.png) no-repeat;
    background-position: 14px 10px;
}

.member-request a:hover {
    background: url(../images/request_hover.png) no-repeat;
    background-position: 14px 10px;
    color: #fff;
    background-color: #66757f;
    transition: background-color 0.5s ease;
}

.border-cus {
    border: 1px solid #66757F;
    border-radius: 3px;
    padding: 9px 0px;
}

.border-cus a {
    color: #66757F;
    font-size: 18px;
    font-family: "meiryo_bold";
    padding: 10px 6px 10px 40px;
}

.bg-banner {
    background: url(../images/bg-banner.png) no-repeat center center;
    height: 332px;
    padding-top: 68px;
}

.dv-banner-content {
    float: right;
    color: #fff;
}

.dv-banner-content span {
    font-family: "meiryo_bold";
    font-size: 28px;
    letter-spacing: -1px;
}

.dv-banner-content p {
    font-size: 28px;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

.dv-banner-content ul li {
    font-size: 16px;
    line-height: 30px;
}

.step-bar {
    padding: 36px 0;
}

.instruction-text {
    background-color: #2BA6CB;
    color: #fff;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 20px;
}

.dv-custom {
    background-color: #fff;
    border: 2px solid #E1E8ED;
    margin-bottom: 40px;
    color: #000000;
    position: relative;
}

.user-information {
    padding: 35px 25px 45px 25px;
}

.user-information ul li {
    width: 50%;
    float: left;
    padding: 0 25px;
    margin-bottom: 30px;
}

.user-information ul li:last-child {
    width: 100%;
    margin-bottom: 0px;
}

.li-last-cus {
    margin-bottom: 0;
}

p.label {
    padding-left: 15px;
    padding-bottom: 7px;
}

.user-information ul li input {
    width: 100%;
    height: 50px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 12px #DDDDDD;
    padding: 0 10px;
}

.user-information ul li textarea {
    width: 100%;
    height: 461px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 12px #DDDDDD;
    font-size: 16px;
    line-height: 21px;
    padding: 13px 10px;
    resize: none;
}

.arrow-down {
    position: absolute;
    bottom: -43px;
    left: 50%;
    margin-left: -48px;
}

.check-box-list {
    height: 515px;
    padding: 25px 50px 90px 50px;
}

.check-box-list ul.list-item-logo li {
    width: 185px;
    height: 85px;
    float: left;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    position: relative;
}

.check-box-list ul.list-item-logo li:first-child {
    border-left: none;
}

.check-box-list ul.list-item-logo li:nth-child(6),.check-box-list ul.list-item-logo li:nth-child(11),.check-box-list ul.list-item-logo li:nth-child(16),.check-box-list ul.list-item-logo li:nth-child(21){
    border-left: none;
}

.check-box-list ul.list-item-logo li:nth-child(21),.check-box-list ul.list-item-logo li:nth-child(22),.check-box-list ul.list-item-logo li:nth-child(23),.check-box-list ul.list-item-logo li:nth-child(24),.check-box-list ul.list-item-logo li:nth-child(25) {
    border-bottom: none;
}

.total-check.w100-fl {
    text-align: center;
    padding-bottom: 30px;
}

.total-check span {
    font-weight: bold;
}

.total-check span.sumary {
    color: #2ba6cb;
}

.flex-direction-nav .flex-prev {
    left: -50px;
    display: inline-block !important;
    opacity: 1 !important;
}

.flex-direction-nav .flex-next {
    display: inline-block !important;
    opacity: 1 !important;
    right: -50px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1 !important;
    left: -50px !important;
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1 !important;
    right: -50px !important;
}

.flex-control-paging li a.flex-active {
    background: #67bed9;
}

.flex-control-paging li a {
    background: #cde8f1;
}

.flex-control-paging li a:hover {
    background: rgba(103, 190, 217, 0.7);
}

.flex-direction-nav a:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
}

.flex-direction-nav .flex-next:before { 
    content:"\f054" !important;
}
.flex-direction-nav .flex-prev:before { 
    content: "\f053" !important 
}


.captcha-img, .input-character {
    width: 50%;
    float: left;
    padding-top: 30px;
}

.captcha-img {
    padding-left: 77px;
}

.captcha-img img {
    width: 340px;
    height: 81px;
    border: 2px solid #eaeaea;
    float: left;
}

.captcha-img a.btn-refresh {
    background: url(../images/refresh.png) no-repeat center center #2ba6cb;
    width: 84px;
    height: 81px;
    float: left;
}

.captcha-img a.btn-refresh:hover {
    background: url(../images/refresh.png) no-repeat center center #66757f;
    transition: background-color 0.5s ease;
}

.btn-refresh {
    background: url(../images/refresh.png) no-repeat center center;
}

.input-character {
    padding-left: 30px;
}

.captcha-form {
    height: 141px;
}

.captcha-text {
    width: 416px;
    height: 50px;
    border: 2px solid #eaeaea;
    line-height: 50px;
    padding: 0 10px;
}

p.input-label {
    line-height: 31px;
    padding-left: 10px;
}

.btn-confirm {
    text-align: center;
    padding-bottom: 35px;
}

.btn-confirm input {
    font-family: "meiryo_bold";
    font-size: 22px;
    color: #fff;
    background-color: #44c256;
    border: none;
    border-bottom: 3px solid #0d9220;
    border-radius: 4px;
    width: 268px;
    height: 70px;
    line-height: 71px;
    cursor: pointer;
}

.btn-confirm input:hover {
    color: #fff;
    background-color: #66757f;
    border-bottom: 3px solid #3a4349;
    transition: background-color 0.5s ease;
}

footer {
    color: #fff;
    background-color: #2ba6cb;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 13px;
}


/* -------------checkbox custom------------------ */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  content: '';
  position: absolute;
  bottom: 3px; 
  left: 4px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) ,
[type="checkbox"]:checked {
  content: '✔';
  position: absolute;
  bottom: 3px; 
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) {
  opacity: 1;
}
[type="checkbox"]:checked {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked),
[type="checkbox"]:disabled:checked {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked {
  color: #999;
}
[type="checkbox"]:disabled  {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus,
[type="checkbox"]:not(:checked):focus {
  border: 1px dotted blue;
}
